.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.login-btn {
    width: 50px;
    border-radius: 5px;
}

.login-btn:hover {
    background-color: grey;
    transition: .5s;
}

.splash-msg {
    font-size: 54px;
}