.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.signup-btn {
    border-radius: 5px;
}

.signup-btn:hover {
    background-color: grey;
    transition: .5s;
}